@import './utils/colors';

body {
  background-color: $color-background;
  color: $color-text;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  margin: 0;
  font-family: Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .5;
  margin: 0;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
