@import './utils/colors';

.layout {
    min-height: 100vh;
    position: relative;

    header {
        background-color: $color-background;
        color: $color-white;
        padding: 5px 20px;
    }

    footer {
        bottom: 0;
        position: absolute;
        width: 100%;

        p {
            text-align: center;
        }
    }
}