@import './utils/colors';
@import './utils/variables';

.layout {
    background: linear-gradient(#51416e, 10%, #1d1928) no-repeat;
    background-size: auto 40%;
    min-height: 100vh;
    position: relative;

    header {
        display: flex;
        justify-content: center;
        
        img {
            height: $basic-unit;
            margin-top: calc(#{$basic-unit} * 3);
        }
    }

    footer {
        bottom: 0;
        position: absolute;
        width: 100%;

        p {
            text-align: center;
        }
    }
}