@import '../utils/colors.scss';
@import '../utils/variables.scss';


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    --gridWidth: calc(#{$basic-unit} * 10);
    --gridWidthPlusPadding: calc(var(--gridWidth) + 9px);
    width: var(--gridWidthPlusPadding);

    .cell {
        background-color: $color-background__panel;
        box-sizing: border-box;
        display: inline-block;
        height: $basic-unit;
        margin-bottom: 1px;
        width: $basic-unit;
    }
}