@import '../utils/colors';
@import '../utils/variables';

.wrapper {
    background-color: $color-background__panel;
    height: calc((#{$basic-unit} * 6) + 5px);
    margin-bottom: $basic-unit;
    width: calc((#{$basic-unit} * 6) + 5px);

    h1 {
        text-align: center;
    }
}