$color-background: #1d1928;
$color-background__gradient-start: #51416e;
$color-background__panel: #393558;

$color-text: #8b7095;

$color-I-piece: #8ea9a9;
$color-O-piece: #d8bf65;
$color-T-piece: #8b7095;
$color-S-piece: #88a882;
$color-Z-piece: #e07878;
$color-J-piece: #6e7ea4;
$color-L-piece: #da9774;
